<div class="container">
  <form class="mt-5 mb-5">
      <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your address">
              </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Phone Number</label>
                <input type="number" class="form-control" placeholder="Enter your phone number">
              </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
              </div>
        </div>
      </div>
      
      <div class="row justify-content-md-center">
        <div class="col-sm-1"><button type="submit" class="btn btn-primary">Submit</button></div>
      </div>
      
    </form>
</div>